<header class="header">
    <h1 class="header-heading">
        <a href="{% url "contact:login" %}" class="hearder-link">
            <p>Agenda</p>
        </a>
    </h1>

    <nav class="menu">
        
        <li class="menu-item">
                {% if user.is_authenticated %}
                <ul class="menu-list">
                    <a href="{% url "contact:create" %}" class="menu-link">
                        create
                    </a>
                    <ul class="menu-list">
                        <a href="{% url "contact:index" %}" class="menu-link">
                            Agenda
                        </a>
                <li class="menu-item">
                    <a href="{% url "contact:logout" %}" class="menu-link">
                        logout
                    </a>
                <li class="menu-item">
                    <a href="{% url "contact:user_update" %}" class="menu-link">
                        atualização de usuario
                    </a>
                {% else %}
                <li class="menu-item">
                    <a href="{% url "contact:register" %}" class="menu-link">
                        Criar Usuario
                    </a> 
                {% endif %}
        </ul>
    </nav>
    <div class="search">
        <form action="{% url "contact:search" %}" method="get">
            <input type="text" 
            class="search-input"
            placeholder="search" 
            name="q"
            ID="search"
            value""{{request.GET.q.strip}}">
        </form>
    </div>
</header>

