{% extends "global/base.html" %}

{% block content %}
{% if page_obj %}
    <div class="responsive-table">
        <table class="contacts-table" >
            <caption class='table-caption'>
                Contacts
            </caption>
            <thead>
                <t class="table-row table-row-head">
                    <th class="table-header">ID</th>
                    <th class="table-header">First Name</th>
                    <th class="table-header">last Name</th>
                    <th class="table-header"> Phone</th>
                    <th class="table-header">email</th>
                </t>
            </thead>
            <tbody>
                {% for contact in page_obj %}
                    <tr class="table-row">
                        <td class="table-cel">
                           <a class= "table-link" 
                           href="{% url 'contact:contact' contact.id %}"
                           >
                            {{contact.id}}
                           </a> 
                        </td>
                        <td class="table-cel">
                            <a class= "table-link" href="#">
                             {{contact.first_name}}
                            </a> 
                         </td>
                         <td class="table-cel">
                            <a class= "table-link" href="#">
                             {{contact.last_name}}
                            </a> 
                         </td>
                         <td class="table-cel">
                            <a class= "table-link" href="#">
                             {{contact.phone}}
                            </a> 
                            <td class="table-cel">
                                <a class= "table-link" href="#">
                                 {{contact.email}}
                                </a> 
                             </td>
                         </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
{% else %}
<div class="single-contact-name">
    <h1>
       CONTATO NÃO LOCALIZADO
    </h1>
    
</div>
{% endif %}
{% endblock content %}

